Source: teststand
Section: utils
Priority: optional
Maintainer: Patrick Plenefisch <phplenefisch@wpi.edu>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/alexhenning/frc
Vcs-Git: https://github.com/alexhenning/frc
Vcs-Browser: https://github.com/alexhenning/frc

Package: teststand
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: WPI FRC Jenkins test daemon
 This package provides the test daemon that frcjenkins uses to
 remotely enable and disable the RoboRIO for tests
