#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

export GOARCH=arm
export PREFIX=/usr/local/frc

%:
	dh $@ 
	
override_dh_usrlocal:
	# should we migrate to /usr/frc?
	
override_dh_gencontrol:
	dh_gencontrol $@
	sed --in-place= 's/Architecture: .*/Architecture: armv7a-vfp/' debian/teststand/DEBIAN/control
	sed --in-place= 's,invoke-rc.d teststand,/etc/init.d/teststand,' debian/teststand/DEBIAN/post*
	sed --in-place= 's,invoke-rc.d teststand,/etc/init.d/teststand,' debian/teststand/DEBIAN/pre*

override_dh_strip:
	DEB_HOST_GNU_TYPE=arm-frc-linux-gnueabi dh_strip $@
# armv7a-vfp-neon
